<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Events</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <nav>
        <ul>
            <li><a th:href="@{/sports}">Sports</a></li>
            <li> <a th:href="@{/tickets}" th:if="${not #lists.isEmpty(tickets)}">View My Tickets</a></li>
             <li>
                <form th:action="@{/logout}" method="post" class="logout-form">
                    <button type="submit">Logout</button>
                </form>            </li>
        </ul>
    </nav>

    <div class="container">
        <h1 th:text="${sport.name} + ' Events'"></h1>

        <div class="events-container">
      <div th:if="${param.success}" class="success-message">
    Successfully bought <span th:text="${param.success}"></span> tickets.
</div>
            <div class="event-card" th:each="event : ${events}">
                
                <p>
                    <strong>Stadium:</strong> <span th:text="${event.stadium.name}"></span><br>
                    <strong>Disciplines:</strong>
                    <span th:text="${event.discipline1}"></span>
                    <span th:if="${event.discipline2}" th:text="', ' + ${event.discipline2}"></span>
                </p>
                <p class="date" th:text="${event.date}"></p>
                <p>
                    <strong>Available Spots:</strong> <span th:text="${event.numberSeats}"></span><br>
                    <strong>Ticket Price:</strong>
                    <span th:if="${event.numberSeats > 0 or #authorization.expression('hasRole(''ADMIN'')')}">
                        <span th:text="${#numbers.formatDecimal(event.ticketPrice, 1, 'COMMA', 2, 'COMMA')}"></span>
                    </span>
                    <span th:unless="${event.numberSeats > 0 or #authorization.expression('hasRole(''ADMIN'')')}">
                        Sold Out
                    </span>
                </p>
                <a class="button" th:if="${event.numberSeats > 0}" th:unless="${#authorization.expression('hasRole(''ADMIN'')')}" th:href="@{/events/{eventId}/tickets(eventId=${event.id})}">Buy Tickets</a>
            </div>
        </div>

        <div sec:authorize="hasRole('ADMIN')">
            <a class="button" th:href="@{/events/new}">Add Event</a>
        </div>
    </div>
</body>
</html>