<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sports Overview</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <nav>
        <ul>
            <li><a th:href="@{/sports}">Sports</a></li>
            <li> <a th:href="@{/tickets}" th:if="${not #lists.isEmpty(tickets)}">View My Tickets</a></li>
             <li>
                <form th:action="@{/logout}" method="post" class="logout-form">
                    <button type="submit">Logout</button>
                </form>            </li>
                <li>
                <form th:action="@{/changeLanguage}" method="get" style="display: inline;">
                <select name="lang" onchange="this.form.submit()">
                    <option value="en" th:selected="${#locale.language == 'en'}">English</option>
                    <option value="nl" th:selected="${#locale.language == 'nl'}">Nederlands</option>
                </select>
            </form>
                </li>
                
        </ul>
    </nav>

    <div class="container">

        <h1 th:text="#{app.title}"></h1>

        <div class="sports-container">
            <div class="sport-card" th:each="sport : ${sports}">
                <h2 th:text="${sport.name}"></h2>
                <p>Discover the exciting events and competitions in <span th:text="${sport.name}"></span>.</p>
                <a th:href="@{/sports/{sportId}/events(sportId=${sport.id})}">View Events</a>
            </div>
        </div>

        <div sec:authorize="hasRole('USER')" th:if="${not #lists.isEmpty(tickets)}">
            <a class="button" href="/tickets" th:text="#{app.buy.tickets}"></a>
        </div>
    </div>
</body>
</html>